bin/
.metadata/
cache/
ecobertura.cobertura/*.jar
ecobertura.core/.scala_dependencies
ecobertura.core.test/.scala_dependencies
ecobertura.core/.cache
ecobertura.core.test/.cache
ecobertura.core/.settings/
ecobertura.core/bin/
ecobertura.core.test/bin/
ecobertura.ui/.settings/
ecobertura.ui/.scala_dependencies
ecobertura.scala/.settings/*
ecobertura.core/build.xml
ecobertura.feature/build.xml
ecobertura.pde/lib/*
ecobertura.pde/scala-compiler.jar
ecobertura.pde/.settings
ecobertura.ui/bin/*
ecobertura.ui/.cache
ecobertura.ui/build.xml
ecobertura.feature/compile.ecobertura.feature.xml
ecobertura.scala/scala-*.jar
ecobertura.core/scala-*.jar
ecobertura.ui/scala-*.jar
.hgignore
